.btn-bordered-teal {
    text-transform: uppercase;
    font-family: Montserrat !important;
    font-weight: 500;
    background:$mainBGColor;
    border:2px solid $mainColor;
    border-radius: 0;
    padding: .5rem 2rem;
  }
    
  .btn-bordered-teal:hover {
    background: $mainColor;
  }
    
 
  
 

  // new button text h5 followed by icon

  .btn-text {
    color: #000;
    font-size: 1.6rem;
    text-transform: uppercase;
  }
  
  .link-icon {
    color: $mainColor;
    margin-bottom: .3rem;
    font-size: 1.8rem;
  }

  .btn-text:hover {
    color: $mainColor;
  }