
h1 {
    font-family: Merriweather !important;
    font-size: 2.2rem;
    color: $darkBlue;
  }

  h2 {
    font-family: Montserrat !important;
    color: #000;
    font-size: 1.9rem;
    font-weight: 500;
    text-transform: uppercase;
  }

  h4 {
    font-family: Merriweather !important;
    color: $mainColor;
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 1.35;
    margin: 0;
  }

  // h5 only to be used for new button text - see button scss
  h3, h5 {
    font-family: Montserrat !important;
  }



  @media (max-width: 700px) {
    h2 {
      font-size: 2.1rem;
    }
  }

  @media (max-width: 450px) {
    h2 {
      font-size: 1.9rem;
    }
  }


  p {
    font-family: Montserrat !important;
    color: #000;
    
  }

