  
  .home-header-row {
    padding-top: 3.125rem;
  }

  .home-header-title {
    margin: 7rem 0 0 6.5rem;
    color: #fff !important;
    font-size: 5vw !important;
    font-weight: 500 !important;
    font-family: Merriweather !important;
  }

  .home-header-title2 {
    margin: 0 0 0 6.5rem;
    color: #fff !important;
    font-size: 5vw !important;
    font-weight: 500 !important;
    font-family: Merriweather !important;
  }

  .home-header-text_one {
    font-size: 1.2rem;
    color: #fff;
    margin: 3rem 3rem 0 6.5rem;
  }

  .home-header-text_two {
    font-size: 1.2rem;
    color: #fff;
    margin: 0 3rem 0 6.5rem;
  }

  .home-header-image {
    margin-top: 9.375rem;
  }


  @media (max-width: 768px) {
    .home-header-row {
      padding-top: .5rem;
    }

    .home-header-text_one {
      margin-top: 2rem;
    }
    .home-header-image {
      margin-top: 1.5rem;
    }
    .home-header-title {
      font-size: 10vw !important;
    }
    .home-header-title2 {
      font-size: 10vw !important;
    }
  }

  