

.navbar-logo {
    max-width: 140px !important;
    }

.navbar {
    padding: 0.5rem 4rem;
    background-color: $darkBlue;
    }

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    font-family: 'Montserrat';
    padding: 8px 18px;
    font-size: .9rem;
    }

.nav-link:hover {
    color: $yellow !important;
}

.navbar-brand {
    margin-left: 3.75rem;
}

@media (max-width: 768px) {
    .navbar-brand {
        margin-left: .9rem;
    }
}