.pf-main-image-div {
  margin-top: 2.5rem;
  padding: 1.5rem 5rem 0 5rem;
}

@media (max-width: 992px) {
  .pf-main-image-div {
  padding: 1.5rem 2rem 0 2rem;
  }
}

.btn-text-pft {
  color: #fff;
  font-size: 1.5rem;
  text-transform: uppercase;
}
@media (max-width: 692px) {
  .btn-pft-col-right {
  text-align: right;
  }
  .btn-text-pft {
    font-size: 1.25rem;
  }
  .pf-main-image-div {
    padding: 1.5rem 0 0 0;
    }
}

.container-pf-hero {
  background-color: $veryDarkBlue;
}

.link-icon-pft {
  color: $yellow;
  margin-bottom: .3rem;
  font-size: 1.8rem;
}

.btn-text-pft:hover {
  color: $yellow;
}