.pftemplate {
    padding: 4rem 0;
  }
  .pfcenter {
    width: 80vw;
    margin: 0 auto;
  }
  .pfimages {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    margin-bottom: 2rem;
  }
  .pfimage {
    box-shadow: var(--lightShadow);
  }
  .pftemplate h2 {
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
    margin-bottom: 1rem;
  }
  .pfinfo {
    display: flex;
    flex-wrap: wrap;
  }
  .pfinfo p {
    display: flex;
    align-items: center;
    margin-right: 2rem;
    text-transform: capitalize;
  }
  .pficon {
    color: var(--primaryColor);
    font-size: 1.4rem;
    margin-right: 0.5rem;
  }
  .pfdesc {
    line-height: 2;
  }
  .pftemplate h4 {
    text-transform: capitalize;
  }
  .pftemplate h2 {
    margin: 2rem 0;
  }
  .pfjourney {
    margin: 3rem 0;
  }
  @media screen and (min-width: 992px) {
    .pfjourney,
    .pfdesc {
      width: 70vw;
    }
  }
  @media screen and (min-width: 1200px) {
    .pfcenter {
      width: 95vw;
      max-width: 1170vw;
    }
    .pfimages {
      grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
      grid-column-gap: 50px;
    }
  }