h1 {
  font-family: Montserrat !important;
}

body {
  background-color: #e4e4e4;
}

/* navbar CSS */
.navbar-logo {
  max-width: 140px !important;
}

.navbar {
  padding: 0.5rem 4rem;
  background-color: #e4e4e4;
}

.navbar-light .navbar-nav .nav-link {
  color: #000;
  font-family: 'Montserrat';
  padding: 8px 18px;
}

/* Footer CSS */

.footer-logo {
  margin-top: 40px;
}

.white-bg {
  background-color: white;
}

.copyright-border {
  border-left: solid 70px #00778d;
}

.col-footer-right {
  border-top: solid 40px #00778d;
  border-left: solid 70px #00778d;
  border-width: 50% !important;
}

.col-footer {
  border-top: solid 20px #e4e4e4;
}

@media (max-width: 576px) {
  .col-footer-right {
    border-top: solid 20px #00778d;
  }
  .col-footer {
      border-top: none;
      border-left: solid 70px #00778d;
  }
}

  /* HOMEPAGE Header CSS */

.header-title {
margin: 7.5rem 0 0 2.5rem;
text-transform: uppercase;
color: #fff !important;
font-size: 8.5vw !important;
font-weight: 400 !important;
}

.header-title-highlight {
  margin: -1.6rem 0 0 2.5rem;
  text-transform: uppercase;
  color: #00778d !important;
  font-size: 8.5vw !important;
  font-weight: 400 !important;
}

.header-subtitle {
  margin: -1.6rem 0 2rem 2.5rem;
  text-transform: uppercase;
  color: #fff !important;
  font-size: 8.5vw !important;
  font-weight: 400 !important;
}

/* HOMEPAGE Box section CSS */

.card-container-bg {
  background-color: white;
  /*height: 10rem;*/
}
.card-bg {
  background-color: #00778d;
}

.card {
  margin: -4.5rem 0.5rem -2.5rem 0.5rem;
  width: 12rem;
  height: 12rem;
}
.card-title {
font-family: Montserrat;
font-weight: 400;
font-size: 1.6rem;
}

