/* temporary text to be removed later  */
.temp-text {
  margin-top: 5rem;
}

/* ******CSS INDEX****** */
/* general css */
/* navbar css */
/* footer css */
/* button css */
/* homepage header */
/* homepage box section */
/* media queries for header and box sections of homepage */

h1 {
  font-family: Montserrat !important;
}

h2 {
  font-family: Shadows Into Light Two !important;
  color: #00778d;
  font-size: 2.4rem;
  text-transform: uppercase;
  
}

p {
  font-family: Montserrat !important;
}

body {
  background-color: #e4e4e4;
}

/* navbar CSS */
.navbar-logo {
  max-width: 140px !important;
}

.navbar {
  padding: 0.5rem 4rem;
  background-color: #e4e4e4;
}

.navbar-light .navbar-nav .nav-link {
  color: #000;
  font-family: 'Montserrat';
  padding: 8px 18px;
}

/* Footer CSS */

.footer-logo {
  margin-top: 2rem;
  width: 180px;
}

.footer-icon {
  font-size: 1.8rem;
  color: #000;
  margin-right: 1.2rem;
  margin-top: 3.7rem;
}

.white-bg {
  background-color: white;
}

.copyright-border {
  border-left: solid 70px #00778d;
}

.col-footer-right {
  border-top: solid 40px #00778d;
  border-left: solid 70px #00778d;
  border-width: 50% !important;
}

.col-footer {
  border-top: solid 20px #e4e4e4;
}

@media (max-width: 576px) {
  .col-footer-right {
    border-top: solid 20px #00778d;
  }
  .col-footer {
      border-top: none;
      border-left: solid 70px #00778d;
  }
}

/* Buttons CSS */

.btn-bordered-teal {
  text-transform: uppercase;
  background:#e4e4e4;
  border:2px solid #00778d;
  border-radius: 0;
  padding: .5rem 2rem;
}
  
.btn-bordered-teal:hover {
  background:#00778d;
}
  
.btn-text {
  color: #00778d;
  font-size: 1.2rem;
}

.btn-text:hover {
  color: #fff;
}

  /* HOMEPAGE Header CSS */

.container-header {
  padding-bottom: 3.125rem;
}

.header-title {
  margin: 7rem 0 0 2.5rem;
  text-transform: uppercase;
  color: #fff !important;
  font-size: 8.5vw !important;
  font-weight: 400 !important;
}

.header-title-highlight {
  margin: -1.6rem 0 0 2.5rem;
  text-transform: uppercase;
  color: #00778d !important;
  font-size: 8.5vw !important;
  font-weight: 400 !important;
}

.header-subtitle {
  margin: -1.6rem 0 0 3rem;
  text-transform: uppercase;
  color: #fff !important;
  font-size: 8.5vw !important;
  font-weight: 400 !important;
}

/* HOMEPAGE Box section CSS */
.card-container-align {
  justify-content: flex-end;
}

.card-container-bg {
  background-color: white;
  padding: 0;
}
.card-bg {
  background-color: #00778d;
}

.card {
  margin: -3rem 0.5rem -3rem 0.5rem;
  width: 10rem;
  height: 10rem;
}
.card-title {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 1.3rem;
  padding-right: .4rem;
  padding-left: .4rem;
}

.card-last {
  margin-right: 3.5rem;
}

/* media queries for header and box sections of homepage */

@media (max-width: 900px) {
  .header-title-highlight {
    margin-top: -1rem;
  }
  .header-subtitle {
    margin-top: -1rem;
  }
  .card {
    width: 9rem;
    height: 9rem;
  }
  .card-title {
    font-size: 1.2rem;
  }

}

@media (max-width: 700px) {
  .header-title-highlight {
    margin-top: -.5rem;
  }
  .header-subtitle {
    margin-top: -.5rem;
  }
  .card {
    width: 8rem;
    height: 8rem;
  }
  .card-title {
    font-size: 1.1rem;
  }
}

@media (max-width: 500px) {
  .header-title-highlight {
    margin-top: -.2rem;
  }
  .header-subtitle {
    margin-top: -.2rem;
  }
  .card-container-align {
    justify-content: center;
  }

  .card {
    margin: -2.5rem 0.1rem -2.5rem 0.1rem;
    width: 8rem;
    height: 8rem;
  }
  .card-title {
    font-size: .9rem;
  }
}
